/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
}

input, select, textarea, button {
	font-family: 'Montserrat', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

*:active,
*:focus {
	outline: none;
}

/* Login */

body.login {
	width: 100%;
	height: 100vh;
	background-image: url(../img/1inicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	width: 100%;
	max-width: 600px;
	background-color: rgba(255,255,255,.8);
}

.login-head {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0f8067;
}

.login-head img {
	display: block;
	width: 200px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.login-box form {
	width: 70%;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.login-box form h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #0f8067;
	text-align: center;
}


.login-box form input[type="email"],
.login-box form input[type="password"] {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-left: 26px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #a0a2a3;
	font-size: 15px;
	background-position: 5px center;
	background-repeat: no-repeat;
}

.login-box form input.email-input {
	background-image: url(../img/user-icon.png);
}

.login-box form input.password-input {
	background-image: url(../img/pass-icon.png);
}

.a-link {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #1972b9;
	text-decoration: none;
	text-align: center;
}

.login-box form input[type="submit"] {
	display: block;
	max-width: 150px;
	padding: 10px 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0f8067;
	border: none;
	font-weight: 500;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
}

.login-box form input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
}
.login-box form input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  font-weight: 500;
}
.login-box form input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  font-weight: 500;
}
.login-box form input[type="email"]:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
}

.login-box form input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
}
.login-box form input[type="password"]::-moz-placeholder { /* Firefox 19+ */
  font-weight: 500;
}
.login-box form input[type="password"]:-ms-input-placeholder { /* IE 10+ */
  font-weight: 500;
}
.login-box form input[type="password"]:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
}