/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	background-color: #edeef3;
}

input, select, textarea, button {
	font-family: 'Montserrat', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

*:active,
*:focus {
	outline: none;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #0f8067;
}

.clearfix::after,
.table::after,
.t-header::after,
.t-row::after {
  content: "";
  clear: both;
  display: table;
}

/* Login */

body.login {
	width: 100%;
	height: 100vh;
	background-image: url(../assets/1inicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
	width: 100%;
	max-width: 600px;
	background-color: rgba(255,255,255,.8);
}

.login-head {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0f8067;
}

.login-head img {
	display: block;
	width: 200px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.login-box form {
	width: 70%;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.login-box form h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #0f8067;
	text-align: center;
}


.login-box form input[type="email"],
.login-box form input[type="password"] {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-left: 26px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #a0a2a3;
	font-size: 15px;
	background-position: 5px center;
	background-repeat: no-repeat;
}

.login-box form input[type=email] {
	background-image: url(../assets/user-icon.png)!important;
}

.login-box form input[type=password] {
	background-image: url(../assets/pass-icon.png)!important;
}

.input-wrapper-login {
	position: relative;
}

form .input-wrapper-login.error input {
	border-bottom: 1px solid #e03b3b;
}

.input-wrapper-login .error-input {
    position: absolute;
    display: block;
    width: 100%;
    top: 100%;
    padding-top: 5px;
    color: #e03b3b;
    text-align: center;
    font-size: 12px;
}

.error-messages {
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
    background-color: #e03b3b;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .5px;
}

.success-messages {
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
    background-color: #00ab6c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .5px;
}

.reset-pass-link a,
.a-link {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #1972b9;
	text-decoration: none;
	text-align: center;
}

.login-box form input[type="submit"] {
	display: block;
	max-width: 150px;
	padding: 10px 20px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0f8067;
	border: none;
	font-weight: 500;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
}

.login-box form input[type="submit"]:disabled {
	opacity: 0.6;
	cursor: default;
}

.login-box form input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
}
.login-box form input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  font-weight: 500;
}
.login-box form input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  font-weight: 500;
}
.login-box form input[type="email"]:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
}

.login-box form input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
}
.login-box form input[type="password"]::-moz-placeholder { /* Firefox 19+ */
  font-weight: 500;
}
.login-box form input[type="password"]:-ms-input-placeholder { /* IE 10+ */
  font-weight: 500;
}
.login-box form input[type="password"]:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
}

.recaptcha div > div > div {
	display: block;
	margin: 0 auto;
}

/* Menu Interface */
.side-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: #0f8067;
}

.side-menu.closed {
	width: 0;
	overflow: hidden;
}

.main-content {
	float: right;
	width: 80%;
}

.main-content.closed {
	width: 100%;
}

.logo-container img { 
	display: block;
	width: 240px;
	max-width: 100%;
	margin: 20px auto 50px;
}

.navigation ul  {

}

.navigation ul li {	
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	background-color: transparent;
	transition: background-color .2s ease;
}

.navigation ul li a {
	display: block;
	padding: 30px 40px;
}

.navigation ul li a,
.navigation ul li a:hover {
	color: inherit;
	text-decoration: none;
}

.navigation ul li:hover,
.navigation ul li.active {
	background-color: #094437;
}

.navigation ul li span  {
	display: inline-block;
	vertical-align: middle;
}

.navigation ul li img {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
}

.user-header {
	position: relative;
	width: 100%;
	min-height: 80px;
	background-color: #fff;
}

.menu-icon {
	position: absolute;
	top: 50%;
	left: 22px;
	width: 30px;
	margin-top: -15px;
	cursor: pointer;
}

.menu-icon span {
	display: block;
	width: 100%;
	height: 2px;
	margin-bottom: 8px;
	background-color: #7a8399;
}

.user-tools {
	float: right;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.messages-notifications {
	position: relative;
	float: left;
	width: 21px;
	height: 18px;
	margin-top: 3px;
	margin-right: 18px;
	background-image: url(../assets/mail-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.messages-notifications span {
	position: absolute;
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    padding: 4px;
    font-size: 12px;
    background-color: #0f8067;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.global-notifications {
	position: relative;
	float: left;
	width: 16px;
	height: 21px;
	background-image: url(../assets/notification-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.user-info {
	float: left;
	margin-left: 20px;
	text-align: right;
}

.user-details {
	float: left;
	line-height: 1.2;
	color: #0f8067;
}

.user-details span {
	display: block;
}

.user-details strong {
	font-weight: bold;
}

.avatar {
    float: left;
    width: 45px;
    height: 45px;
    margin-top: -2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #0f8067;
    border-radius: 50%;
    background-image: url(../assets/user-favicon.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}


.logout {
	display: inline-block;
}

.logout a {
	position: relative;
	top: 12px;
	padding: 8px 18px;
	font-size: 12px;
	color: #fff;
	background-color: #0f8067;
	text-decoration: none;
	text-align: center;
	border-radius: 20px; 
}

.main-container {
	padding: 30px 40px;
}

.main-container h2 {
	margin-bottom: 20px;
}

/* Components */

.table {
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}

.filter {
	padding: 20px 20px;
}

.filter select {
	min-width: 140px;
	padding: 5px 10px;
	border: 2px solid #cccccc;
	margin-right: 10px;
	text-align: center;
	font-size: 14px;
	background: transparent;
	color: #464b5a;
	border-radius: 4px;
}

.filter .action-button {
	float: right;
	margin-top: 10px;
}

.t-header {	
	border-top: 1px solid #edeef3;
	border-bottom: 1px solid #edeef3;
	background-color: #fcfcfc;
}

.t-row {
	border-bottom: 1px solid #edeef3;
}

.t-row.alt {
	background-color: #fcfcfc;
}

.t-col {
	float: left;
	width: 16.66%;
    max-height: 76px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;	
	text-transform: uppercase;
	text-align: center;
	color: #464b5a;
}

.table.table-users .t-col {
	width: 20%;
}

.t-header .t-col {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #0f8067;
	text-align: center;
}

.active {
	color: #0f8067;
}

.not-active {
	color: #d30a0a;
}

.actions {
	display: inline-block;
    width: 30px;
    height: 28px;
    margin: 0 10px; 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.edit-action {
	display: inline-block;
}

.action-pdf {
	background-image: url(../assets/pdf-icon.png);
}

.action-xml {
	background-image: url(../assets/xml-icon.png);
}

.edit-action a {
	display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px; 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
	background-image: url(../assets/edit.png);
	text-indent: -99999px;
}

.activity-table {
	width: 100%;
	padding: 10px;
	margin-right: 1%;
	background-color: #fff;
}

.activity-table .t-col {
	width: 25%;
	min-height: 40px;
	text-align: left;
	text-transform: none;
}

.activity-table .t-header {
	border-top: none;
	background-color: #fff;
}

.activity-table .t-header .t-col {
	text-transform: uppercase;
}

.user-comp {
	position: relative;
	top: -12px;
}

.avatar-us {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #666fe8;
	border-radius: 50%;
	vertical-align: middle;
}

.user-desc {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

/* Stats */
.dashstats {
	margin-bottom: 30px;
}

.stats-wrapper {
	padding: 10px;
	background-color: #fff;
}

.stats-options {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #0f8067;
}

.stats-options .title {
	display: inline-block;
	text-transform: uppercase;
	color: #0f8067;
}

.stats-options .choice-options {
	display: inline-block;
	padding-left: 15px;
}

.stats-options .choice-options li {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 8px;
	padding-right: 6px;
	border-left: 1px solid #0f8067;
	text-align: center;
	cursor: pointer;
}

.stats-options .choice-options li span.active {
	font-weight: bold;
}

.form-container {
	padding: 30px 30px 50px;
	background-color: #fff;
}

.form-container h3 {
	margin-bottom: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0f8067;
}

.inside-form-container {
	padding-top: 50px;
	border-top: 1px solid #edeef3;
}

.form-full {
	width: 100%;
}

.form-left {
	float: left;
	width: 20%;
}

.form-right {
	float: left;
	width: 80%;
}

.input-wrapper {
	position: relative;
	float: left;
	width: 33.33%;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
}


.form-left label,
.input-wrapper label {
	display: block;	
	margin-bottom: 10px;
	font-size: 14px;
	color: #464b5a;
}

.form-left label {
	margin-top: 20px;
	text-align: center;
}

.input-wrapper input {
	display: block;
	width: 100%;
	padding: 8px 10px;
	border: none;
	background-color: #ebebeb;
}

.input-wrapper select {
	display: block;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	-webkit-appearance: normal;
}

.form-left input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-left .avatar-file {
	display: block;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background-size: 120%;
	background-color: #ebebeb;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}

.input-wrapper span {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 12px;
    color: red;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-actions {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.form-actions input,
.form-actions button {
	width: 220px;
	font-size: 16px;
	padding: 5px 12px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	background-color: #0f8067;
	color: #fff;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}

.form-actions input:disabled,
.form-actions button:disabled {
	opacity: 0.6;
	cursor: default;
}

.form-actions a {
    width: 180px;
    font-size: 16px;
    padding: 7px 12px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: #0f8067;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
}

.form-actions a:hover {
	text-decoration: none;
}

.action-button {
	margin-bottom: 20px;
	text-align: right;
}

.action-button a {
	display: inline-block;
	padding: 8px 20px;
	background-color: #0f8067;
    color: #fff;
    text-decoration: none;
}

.action-button a:hover {
	text-decoration: none;
}

.messageupdate,
.error-message-form {
    color: #e03b3b;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.messageupdate {
	color: #0f8067;
}

/* Filter */

.filter-box {
	position: relative;
	display: inline-block;
	min-width: 140px;    
    border: 2px solid #cccccc;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    background-image: url(../assets/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 10px;
    color: #464b5a;
    border-radius: 4px;
    cursor: pointer;
}

.current-option {
	padding: 8px 15px;
}

.filter-box:before {
	content: '';
	position: absolute;
	top: -15px;
	left: 0;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
}

.filter-box.date {
	min-width: 160px;
	padding-right: 25px;
}

.filter-box.estatus:before {
	content: 'estatus';
}

.filter-box.date:before {
	content: 'fecha';
}

.filter-box > ul {
    
}



.filter-box > .options-container {
	display: none;
	position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px solid #cccccc;
    border-top: none;
    margin-top: -1px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #fff;
    box-sizing: content-box;
    border-radius: 0 0 4px 4px;
}

.filter-box ul > li {
	padding: 6px 10px;
}

.filter-box ul > li:hover,
.filter-box ul > li.active {
	background-color: #0f8067;
	color: #fff;
}

.filter-box.open > .options-container,
.filter-box.open .date-range-form {
	display: block;
}

.date-wrapper {
	position: relative;
}

.date-wrapper label {
    position: absolute;
    top: 6px;
    left: 8px;
    display: block;
    font-size: 11px;
    color: #464b5a;
}

.date-range-form {
	display: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.date-range-form input {
	display: block;
	width: 100%;
	padding: 18px 8px 6px;
	border: 2px solid #cccccc;
	margin-bottom: 5px;
	border-radius: 4px;
	color: #464b5a;
	font-weight: bold;
}

.date-range-form button {
	display: block;
	width: 100%;
	padding: 8px 10px;
	border: none;
	color: #fff;
	background-color: #0f8067;
	border-radius: 4px;
	cursor: pointer;
}

.date-range-form button:disabled,
.date-range-form button[disabled] {
	opacity: 0.5;
}

.date-range-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: normal;
}
.date-range-form input::-moz-placeholder { /* Firefox 19+ */
  font-weight: normal;
}
.date-range-form input:-ms-input-placeholder { /* IE 10+ */
  font-weight: normal;
}
.date-range-form input:-moz-placeholder { /* Firefox 18- */
  font-weight: normal;
}

.pagination {
	padding-top: 10px;
	text-align: right;
	font-size: 14px;
	color: #0f8067;
}

.counter-pages {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.prev-pag,
.next-pag {
	font-weight: bold;
	cursor: pointer;
}

.fullresult {
	padding: 40px 0;
	text-align: center;

}

.close-menu {
	display: none;
}

@media(max-width: 1440px) {
	.t-col {
		font-size: 15px;
	}
}

@media(max-width: 1280px) {
	.main-container {
	    padding: 30px 20px;
	}
}

@media(max-width: 1024px) {
	.logo-container {
	    padding: 0 20px;
	}

	.navigation ul li a {
	    display: block;
	    padding: 30px 10px;
	}
}

@media(max-width: 768px) {
	.close-menu {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
	}

	.close-menu:before,
	.close-menu:after {
		content: '';
		position: absolute;
	    top: 15px;
	    left: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transform-origin: center;
	}

	.close-menu:before {
		transform: rotate(-45deg);	
	}

	.close-menu:after {
		transform: rotate(45deg);	
	}

	.logo-container {
	    padding: 30px 60px 0 20px;
	}

	.side-menu {
		z-index: 10;
		overflow: hidden;
	}

	.side-menu.open {
		width: 0%;
	}

	.side-menu.closed {
		width: 280px;
	}

	.main-content.open {
		width: 100%;
	}

	.table {
		overflow-x: scroll;
	}

	.t-header,
	.t-row {
	    width: 1280px;
	}

	.user-tools {
	    padding-right: 20px;
	}

	.input-wrapper {
		width: 50%;
	}

	.form-left .avatar-file {
		width: 120px;
		height: 120px;
	}
}

@media(max-width: 480px) {

	.login-box {
	    position: static;
	    margin-top: 20%;
	    margin-left: auto;
	    margin-right: auto;
	    width: 95%;
	    background-color: rgba(255,255,255,.9);
	}

	.login-box form {
	    width: 80%;
	}

	.login-box form h2 {
		font-size: 24px;
	}

	.filter-box {
		display: block;
	    min-width: 100%;
	    margin-right: 0;
	    margin-bottom: 30px;
	}

	.filter .action-button {
	    float: none;
	    margin-top: 20px;
	    text-align: center;
	}

	.filter-box > .options-container {
		z-index: 9;
	}

	.form-left,
	.form-right {
		width: 100%;
	}

	.form-left {
		margin-bottom: 40px;
	}

	.input-wrapper {
		width: 100%;
	}

	.form-actions input {
		margin-bottom: 20px;
	}

}